<template>
    <div class="table-responsive">
        <table class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse">
            <thead class="thead-light">
            <tr>
                <th>Form</th>
                <th>Stream</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="form in forms">
                <td scope="row">{{ form.form}}</td>
                <td>{{ form.stream}}</td>
                <td>Form {{ form.form}}{{ form.stream}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "formview",
        props: {
            daro: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                forms: this.daro
            }
        },
        created() {
            Bus.$on('FormAdded', data => {
                this.forms.push(data);
            })
        }
    }
</script>

<style scoped>

</style>