<template>
    <form action="">
        <!--Label: Form, Attributes: form-->
        <div class="form-group row">
            <label for="form" class="col-sm-2 col-form-label">Form</label>
            <div class="col-sm-10">
                <select name="form" id="form" class="form-control" v-model="form"
                        :class="{ 'is-invalid' : errors.form }">
                    <option value="1">Form 1</option>
                    <option value="2">Form 2</option>
                    <option value="3">Form 3</option>
                    <option value="4">Form 4</option>
                </select>
                <div class="invalid-feedback" v-if="errors.form">
                    <strong>{{ errors.form.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Stream, Attributes: stream-->
        <div class="form-group row">
            <label for="stream" class="col-sm-2 col-form-label">Stream</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="stream"
                       v-model="stream"
                       name="stream"
                       :class="{ 'is-invalid' : errors.stream }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.stream">
                    <strong>{{ errors.stream.toString() }}</strong>
                </div>
            </div>

        </div>
        <div class="text-right">
            <button class="btn btn-gradient-01" @click.prevent="addClass">
                <i :class="{'fa fa-spinner fa-spin': savingClass}"></i>
                Add Class
            </button>
            <button class="btn btn-shadow" type="reset">Reset</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "form",
        data() {
            return {
                errors: '',
                form: '',
                stream: '',
                savingClass: false
            }
        },
        methods: {
            addClass() {
                this.savingClass = true;
                axios.post('/admin/form', this.$data).then(response => {
                    this.savingClass = false;
                    this.form = '';
                    this.stream = '';
                    this.errors = '';
                    Bus.$emit('FormAdded', response.data);
                }).catch(error => {
                    this.savingClass = false;
                    this.errors = error.response.data.errors;
                })
            }
        },
    }
</script>

<style scoped>

</style>