<template>
    <form action="">
        <!--Label: House Name, Attributes: house-->
        <div class="form-group row">
            <label for="house" class="col-sm-2 col-form-label">House Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="house"
                       v-model="house"
                       name="house"
                       :class="{ 'is-invalid' : errors.house }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.house">
                    <strong>{{ errors.house.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-gradient-01" @click.prevent="addHouse" dusk="savehouse">
                Add House
                <i :class="{'fa fa-spinner fa-spin': savingHouse}"></i>
            </button>
            <button class="btn btn-shadow" type="reset">Reset</button>
        </div>
    </form>
</template>

<script>
    export default {
        name: "house",
        data() {
            return {
                errors: '',
                house: '',
                savingHouse: false
            }
        },
        methods: {
            addHouse() {
                this.savingHouse = true;
                axios.post('/admin/house', this.$data).then(response => {
                    this.savingHouse = false;
                    this.errors = '';
                    this.house = '';
                    Bus.$emit('addHouse', response.data);
                }).catch(error => {
                    this.savingHouse = false;
                    this.errors = error.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>