<template>
    <form>

        <!--Label: Term, Attributes: term-->
        <div class="form-group row">
            <label for="term" class="col-sm-2 col-form-label">Term</label>
            <div class="col-sm-10">
                <select name="term" style="width: 75%" class="select" id="term" v-model="term" :class="{ 'is-invalid' : errors.term }">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <div class="invalid-feedback" v-if="errors.term">
                    <strong>{{ errors.term.toString() }}</strong>
                </div>
            </div>
        </div>
        <!--Label: Year, Attributes: year-->
        <div class="form-group row">
            <label for="year" class="col-sm-2 col-form-label">Year</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="year"
                       v-model="year"
                       name="year"
                       :class="{ 'is-invalid' : errors.year }" autocomplete="off">
                <div class="invalid-feedback" v-if="errors.year">
                    <strong>{{ errors.year.toString() }}</strong>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button class="btn btn-gradient-01" @click.prevent="addTerm">
                Add Term
                <i :class="{'fa fa-spinner fa-spin': savingTerm}"></i>
            </button>
            <button class="btn btn-shadow" type="reset">Reset</button>
        </div>
    </form>
</template>

<script>
    import select2 from 'select2'

    export default {
        name: "term",
        select2,
        data() {
            return {
                errors: '',
                term: '',
                year: '',
                savingTerm: false
            }
        },
        mounted() {
            let Self = this;
            $('.select').select2({
                // width: '100'
            }).on('change', function () {
                Self.term = this.value;
            })
        },
        methods: {
            addTerm() {
                this.savingTerm = true;
                axios.post('/admin/term', this.$data).then(response => {
                    this.term = '';
                    this.year = '';
                    this.errors = '';
                    this.savingTerm = false;
                    Bus.$emit('TermAdded', response.data);
                }).catch(error => {
                    this.savingTerm = false;
                    this.errors = error.response.data.errors;
                });
            }
        },
    }
</script>

<style scoped>

</style>