<template>

    <div class="table-responsive">
        <table class="table mb-0" id="years">
            <thead>
            <tr>
                <th>Year</th>
                <th>Current</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="year in years">
                <td>{{ year.year}}</td>
                <td>{{ year.current}}</td>
            </tr>
            </tbody>
        </table>
    </div>

</template>

<script>
    import DataTable from 'datatables'
    export default {
        name: "yearview",
        DataTable,
        props: {
            miaka: {
                type: Array,
                default: []
            },
        },
        data() {
            return {
                years: this.miaka
            }
        },
        mounted() {
            let table = $('#years').DataTable();
            Bus.$on('YearAdded', data => {
                table.row.add([
                    data.year,
                    data.current,
                ]).draw(false);
            })
        }
    }
</script>

<style scoped>

</style>