<template>
    <div>
        <form action="">
            <!--Label: Year, Attributes: year-->
            <div class="form-group row">
                <label for="year" class="col-sm-2 col-form-label">Year</label>
                <div class="col-sm-10">
                    <select name="year" id="year" class="form-control" :class="{ 'is-invalid' : errors.year }"
                            v-model="year">
                        <option v-for="yr in years" :value="yr.id">{{ yr.year}}</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.year">
                        <strong>{{ errors.year.toString() }}</strong>
                    </div>
                </div>
            </div>
            <!--Label: Form, Attributes: form-->
            <div class="form-group row">
                <label for="form" class="col-sm-2 col-form-label">Form</label>
                <div class="col-sm-10">
                    <select class="form-control" id="form"
                            v-model="form"
                            name="form"
                            :class="{ 'is-invalid' : errors.form }">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <div class="invalid-feedback" v-if="errors.form">
                        <strong>{{ errors.form.toString() }}</strong>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-gradient-01" @click.prevent="loadSettings">
                    Load
                    <i :class="{'fa fa-spinner fa-spin':loadingstudent}" aria-hidden="true"></i>
                </button>
                <button class="btn btn-shadow" type="reset">Reset</button>
            </div>

        </form>

        <div class="table-responsive mt-5">
            <table class="table mb-0" id="settinsgs">
                <thead>
                <tr>
                    <td></td>
                    <td>Term 1</td>
                    <td>Term 2</td>
                    <td>Term 3</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(setting,index) in terms">
                    <td>{{setting.votehead.votehead}}</td>
                    <td>
                        <input type="text" class="form-control" v-model.number="setting.termone"
                               :class="{ 'is-invalid' : errors[`terms.${index}.termone`] }">
                    </td>
                    <td>
                        <input type="text" v-model.number="setting.termtwo" class="form-control"
                               :class="{ 'is-invalid' : errors[`terms.${index}.termtwo`] }">
                    </td>
                    <td><input type="text" v-model.number="setting.termthree" class="form-control"
                               :class="{ 'is-invalid' : errors[`terms.${index}.termthree`] }"></td>
                </tr>
                </tbody>
            </table>
            <div class="text-right mt-5">
                <button class="btn btn-gradient-03" @click.prevent="savefeeStructure">
                    Save
                    <i :class="{'fa fa-spinner fa-spin':savingstructure}" aria-hidden="true"></i>
                </button>
            </div>

        </div>
    </div>
</template>

<script>
    import DataTable from 'datatables'

    export default {
        name: "feesettings",
        DataTable,
        props: {
            years: {
                // type: Arr,
                default: []
            },
        },
        data() {
            return {
                year: '',
                errors: '',
                settings: '',
                form: '',
                loadingstudent: false,
                savingstructure: false,
                terms: [
                    //     {
                    //     votehead: '',
                    //     termone: '',
                    //     termtwo: '',
                    //     termthree: ''
                    // }
                ]
            }
        },
        methods: {
            loadSettings() {
                this.loadingstudent = true;
                this.settings = '';
                let Self = this;
                axios.post('/api/getfeesettings', this.$data).then(response => {
                    Self.terms = [];
                    _.forEach(response.data, function (dat) {
                        Self.terms.push(
                            {
                                'votehead': dat.votehead,
                                'voteheadid': dat.votehead.id,
                                'termone': '',
                                'termtwo': '',
                                'termthree': ''
                            }
                        )
                    })
                    ;
                    this.loadingstudent = false;
                    Bus.$emit('settings', response.data);
                }).catch(error => {
                    this.loadingstudent = false;
                    this.errors = error.response.data.errors;
                });

            },
            savefeeStructure() {
                this.savingstructure = true;
                axios.post('/api/feestructure', {
                    'year': this.year,
                    'form': this.form,
                    'terms': this.terms,
                }).then(response => {
                    this.savingstructure = false;
                    this.terms = '';
                    this.errors = '';
                }).catch(error => {
                    this.savingstructure = false;
                    this.errors = error.response.data.errors;
                });
            }
        },
        mounted() {
            let table = $('#settings').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            });

            // Bus.$on('settings', data => {
            //     table
            //         .clear()
            //         .draw();
            //     _.forEach(data, function (d) {
            //         table.row.add([
            //             d.votehead.votehead,
            //             `<input type="text" v-model="terms.termone">`,
            //             `<input type="text" v-model="terms.termtwo">`,
            //             `<input type="text" v-model="terms.termthree">`,
            //         ]).draw(false)
            //
            //     });
            // })


        }
    }
</script>

<style scoped>

</style>